openapi: 3.2.0
info:
  title: Landgate SLIP Public Services (ArcGIS REST) Server API
  version: '12.1'
  summary: OpenAPI description of the anonymously callable ArcGIS Server REST surface of Landgate's Shared Location Information Platform (SLIP) public tier.
  description: Landgate does not publish an OpenAPI definition.
  contact:
    name: Landgate Customer Service
    url: https://www.landgate.wa.gov.au/help-centre/
  license:
    name: Landgate data licensing (custom; see licensing page)
    url: https://www.landgate.wa.gov.au/location-data-and-services/discovering-landgate-data/licensing/
servers:
- url: https://public-services.slip.wa.gov.au/public/rest
  description: SLIP public ArcGIS REST services directory (anonymous)
tags:
- name: Server
  description: Server-level information and the services directory
paths:
  /info:
    get:
      operationId: getSlipServerInfo
      tags:
      - Server
      summary: Get ArcGIS Server info
      description: Returns the ArcGIS Server version and the authentication posture of the public SLIP instance.
      x-evidence:
        url: https://public-services.slip.wa.gov.au/public/rest/info?f=json
        status: 200
        probed: '2026-07-26'
        sample: '{"fullVersion":"12.1.0","currentVersion":12.1,"authInfo":{"isTokenBasedSecurity":false}}'
      parameters:
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Server info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInfo'
components:
  parameters:
    Format:
      name: f
      in: query
      description: Response format. `json` for the machine-readable response.
      schema:
        type: string
        enum:
        - html
        - json
        - pjson
        - image
        - kmz
        default: html
  schemas:
    ServerInfo:
      type: object
      properties:
        currentVersion:
          type: number
        fullVersion:
          type: string
        soapUrl:
          type: string
          format: uri
        authInfo:
          type: object
          properties:
            isTokenBasedSecurity:
              type: boolean
x-generated-by: API Evangelist enrichment pipeline
x-generated: '2026-07-26'
x-method: generated
x-source: live probes of https://public-services.slip.wa.gov.au/public/rest
x-authentication: none — /public/rest/info reports authInfo.isTokenBasedSecurity=false
