openapi: 3.2.0
info:
  title: Landgate SLIP Public OGC Web Services (WMS / ) WFS API
  version: '1.0'
  summary: OpenAPI description of the anonymously callable OGC WMS 1.3.0 and WFS 2.0.0 endpoints fronting Landgate's SLIP public data.
  description: 'Landgate publishes no OpenAPI. This is an API Evangelist GENERATED OpenAPI description of

    the OGC web services that the SLIP public host answers anonymously. The authoritative

    machine-readable contract for these services remains the OGC GetCapabilities documents,

    which are saved verbatim in this repo as

    `openapi/landgate-slip-public-wms-capabilities.xml` (WMS 1.3.0, 56 layers) and

    `openapi/landgate-slip-public-wfs-capabilities.xml` (WFS 2.0.0, 38 feature types).


    OGC services multiplex every operation onto one endpoint via the `request` query

    parameter, so this document models one operation per service endpoint with `request`

    as an enum, rather than inventing paths the server does not have.


    All operations were probed live on 2026-07-26 and returned HTTP 200 anonymously

    (see `x-evidence`). Note that WFS lives on the `*_WFS` map services: a WFS

    GetCapabilities against the plain `Boundaries` service returns HTTP 400.

    '
  contact:
    name: Landgate Customer Service
    url: https://www.landgate.wa.gov.au/help-centre/
servers:
- url: https://public-services.slip.wa.gov.au/public/services
  description: SLIP public OGC services (anonymous)
- url: https://services.slip.wa.gov.au/public/services
  description: Alternate public host for the same services
tags:
- name: WFS
  description: OGC Web Feature Service 2.0.0
paths:
  /{folder}/{service}/MapServer/WFSServer:
    get:
      operationId: slipWfsRequest
      tags:
      - WFS
      summary: OGC WFS 2.0.0 endpoint (GetCapabilities / DescribeFeatureType / GetFeature)
      description: 'Single OGC WFS endpoint, served by the `*_WFS` map services (e.g.

        `SLIP_Public_Services/Boundaries_WFS`). `request=GetFeature` returns a GML

        FeatureCollection.

        '
      x-evidence:
      - url: https://public-services.slip.wa.gov.au/public/services/SLIP_Public_Services/Boundaries_WFS/MapServer/WFSServer?service=WFS&request=GetCapabilities
        status: 200
        content_type: text/xml
        probed: '2026-07-26'
        note: 38 feature types advertised
      - url: https://public-services.slip.wa.gov.au/public/services/SLIP_Public_Services/Boundaries_WFS/MapServer/WFSServer?service=WFS&version=2.0.0&request=DescribeFeatureType
        status: 200
        content_type: text/xml
        probed: '2026-07-26'
      - url: https://public-services.slip.wa.gov.au/public/services/SLIP_Public_Services/Boundaries_WFS/MapServer/WFSServer?service=WFS&version=2.0.0&request=GetFeature&typeNames=esri:DFES_Regions__DFES-015_&count=1
        status: 200
        content_type: application/xml
        probed: '2026-07-26'
        note: returned a 1.65 MB GML FeatureCollection despite count=1 — do not assume server-side limiting on this deployment
      parameters:
      - $ref: '#/components/parameters/Folder'
      - $ref: '#/components/parameters/Service'
      - name: service
        in: query
        required: true
        schema:
          type: string
          enum:
          - WFS
      - name: request
        in: query
        required: true
        schema:
          type: string
          enum:
          - GetCapabilities
          - DescribeFeatureType
          - GetFeature
          - GetPropertyValue
          - ListStoredQueries
      - name: version
        in: query
        schema:
          type: string
          enum:
          - 1.1.0
          - 2.0.0
          default: 2.0.0
      - name: typeNames
        in: query
        description: Feature type, e.g. `esri:DFES_Regions__DFES-015_`.
        schema:
          type: string
      - name: count
        in: query
        schema:
          type: integer
      - name: startIndex
        in: query
        schema:
          type: integer
      - name: outputFormat
        in: query
        schema:
          type: string
      - name: srsName
        in: query
        schema:
          type: string
      - name: bbox
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Capabilities XML, an XML schema, or a GML FeatureCollection
          content:
            text/xml: {}
            application/xml: {}
        '400':
          description: OGC ExceptionReport or ArcGIS Server error page
          content:
            text/html: {}
            text/xml: {}
components:
  parameters:
    Service:
      name: service
      in: path
      required: true
      description: Service name; WFS is served by the `*_WFS` services.
      schema:
        type: string
    Folder:
      name: folder
      in: path
      required: true
      schema:
        type: string
        enum:
        - Land_Monitor
        - Landgate_Public_Imagery
        - Landgate_Public_Maps
        - SLIP_Public_Services
        - Utilities
x-generated-by: API Evangelist enrichment pipeline
x-generated: '2026-07-26'
x-method: generated
x-source: live probes of https://public-services.slip.wa.gov.au/public/services
x-authentication: none
