openapi: 3.2.0
info:
  title: Landgate SLIP Public (ArcGIS REST) Services API
  version: '12.1'
  summary: OpenAPI description of the anonymously callable ArcGIS Server REST surface of Landgate's Shared Location Information Platform (SLIP) public tier.
  description: 'Landgate does not publish an OpenAPI definition. This document is an API Evangelist

    GENERATED description of the Esri ArcGIS Server 12.1 REST surface that Landgate serves

    anonymously at https://public-services.slip.wa.gov.au/public/rest.


    Every path and operation below was probed live and returned HTTP 200 without any

    credential (see `x-evidence` on each operation, probed 2026-07-26). Nothing here is

    invented: the operations are the standard ArcGIS REST resources that this specific

    server answers, and the parameters are the ones exercised in the probes.


    The server''s own machine-readable contract remains the ArcGIS REST services directory

    (`?f=json`), which is saved verbatim in this repo as

    `openapi/landgate-slip-public-arcgis-rest-services.json` and

    `openapi/landgate-slip-public-services-folder.json`.

    '
  contact:
    name: Landgate Customer Service
    url: https://www.landgate.wa.gov.au/help-centre/
  license:
    name: Landgate data licensing (custom; see licensing page)
    url: https://www.landgate.wa.gov.au/location-data-and-services/discovering-landgate-data/licensing/
servers:
- url: https://public-services.slip.wa.gov.au/public/rest
  description: SLIP public ArcGIS REST services directory (anonymous)
tags:
- name: Services
  description: Map service and layer metadata
paths:
  /services:
    get:
      operationId: listSlipRootServices
      tags:
      - Services
      summary: List root folders and services
      description: Lists the folders (Land_Monitor, Landgate_Public_Imagery, Landgate_Public_Maps, SLIP_Public_Services, Utilities) and any root-level services.
      x-evidence:
        url: https://public-services.slip.wa.gov.au/public/rest/services?f=json
        status: 200
        probed: '2026-07-26'
      parameters:
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Services directory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDirectory'
  /services/{folder}:
    get:
      operationId: listSlipFolderServices
      tags:
      - Services
      summary: List the services in a folder
      description: Lists the map services published inside one SLIP folder, e.g. the 57 services in SLIP_Public_Services.
      x-evidence:
        url: https://public-services.slip.wa.gov.au/public/rest/services/SLIP_Public_Services?f=json
        status: 200
        probed: '2026-07-26'
      parameters:
      - $ref: '#/components/parameters/Folder'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Folder services directory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDirectory'
  /services/{folder}/{service}/MapServer:
    get:
      operationId: getSlipMapService
      tags:
      - Services
      summary: Get map service metadata
      description: Returns documentInfo, spatial reference, extent, maxRecordCount and the layer list for a public SLIP map service.
      x-evidence:
        url: https://public-services.slip.wa.gov.au/public/rest/services/SLIP_Public_Services/Boundaries/MapServer?f=json
        status: 200
        probed: '2026-07-26'
        note: maxRecordCount observed 10000
      parameters:
      - $ref: '#/components/parameters/Folder'
      - $ref: '#/components/parameters/Service'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Map service metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapService'
  /services/{folder}/{service}/MapServer/legend:
    get:
      operationId: getSlipMapServiceLegend
      tags:
      - Services
      summary: Get the legend for a map service
      description: Returns the legend swatches and labels for every layer in the map service, including base64 image data.
      x-evidence:
        url: https://public-services.slip.wa.gov.au/public/rest/services/SLIP_Public_Services/Boundaries/MapServer/legend?f=json
        status: 200
        probed: '2026-07-26'
      parameters:
      - $ref: '#/components/parameters/Folder'
      - $ref: '#/components/parameters/Service'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Legend document
          content:
            application/json:
              schema:
                type: object
  /services/{folder}/{service}/MapServer/{layerId}:
    get:
      operationId: getSlipLayer
      tags:
      - Services
      summary: Get layer metadata
      description: Returns the field list, geometry type, extent and capabilities of a single layer within a public SLIP map service.
      x-evidence:
        url: https://public-services.slip.wa.gov.au/public/rest/services/SLIP_Public_Services/Boundaries/MapServer/14?f=json
        status: 200
        probed: '2026-07-26'
      parameters:
      - $ref: '#/components/parameters/Folder'
      - $ref: '#/components/parameters/Service'
      - $ref: '#/components/parameters/LayerId'
      - $ref: '#/components/parameters/Format'
      x-error-behaviour: 'This server returns HTTP 200 with an `error` object for an unknown layer

        (probed 2026-07-26: /MapServer/9999?f=json -> 200

        {"error":{"code":404,"details":[],"message":"Layer not found"}}). See

        errors/landgate-problem-types.yml.

        '
      responses:
        '200':
          description: Layer metadata, or an `error` object (this server signals errors with HTTP 200)
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Layer'
                - type: object
                  properties:
                    error:
                      $ref: '#/components/schemas/EsriError'
components:
  schemas:
    MapService:
      type: object
      properties:
        documentInfo:
          type: object
        maxRecordCount:
          type: integer
        maxImageWidth:
          type: integer
        layers:
          type: array
          items:
            type: object
    Layer:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        geometryType:
          type: string
        extent:
          type: object
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              alias:
                type: string
    ServicesDirectory:
      type: object
      properties:
        currentVersion:
          type: number
        folders:
          type: array
          items:
            type: string
        services:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
    EsriError:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: array
          items:
            type: string
  parameters:
    Folder:
      name: folder
      in: path
      required: true
      description: Services folder.
      schema:
        type: string
        enum:
        - Land_Monitor
        - Landgate_Public_Imagery
        - Landgate_Public_Maps
        - SLIP_Public_Services
        - Utilities
    Format:
      name: f
      in: query
      description: Response format. `json` for the machine-readable response.
      schema:
        type: string
        enum:
        - html
        - json
        - pjson
        - image
        - kmz
        default: html
    Service:
      name: service
      in: path
      required: true
      description: Service name within the folder, e.g. `Boundaries`.
      schema:
        type: string
    LayerId:
      name: layerId
      in: path
      required: true
      description: Numeric layer id within the map service.
      schema:
        type: integer
x-generated-by: API Evangelist enrichment pipeline
x-generated: '2026-07-26'
x-method: generated
x-source: live probes of https://public-services.slip.wa.gov.au/public/rest
x-authentication: none — /public/rest/info reports authInfo.isTokenBasedSecurity=false
